

<div class="offcanvas-md offcanvas-end bg-white" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">MTR - Matrículas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
        <ul class="nav flex-column">

            <!-- Inicio -->
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" routerLink="/app/inicio">
                    <img src="img/dashboard.png" width="25" height="25">
                    Inicio
                </a>
            </li>

            <!-- Reportes -->
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center gap-2" routerLink="/app/Reportes" routerLinkActive="active">
                    <img src="img/reporte.png" width="25" height="25">
                    Reportes
                </a>
            </li>

            <!-- Tipo Identificación -->
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center gap-2" routerLink="/app/tipo-identificacion" routerLinkActive="active">
                    <img src="img/libro.png" width="25" height="25" />
                    Tipo Identificación
                </a>
            </li>

            <!-- Tarea -->
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center gap-2" routerLink="/app/tarea" routerLinkActive="active">
                    <img src="img/tarea.png" width="25" height="25" />
                    Tareas
                </a>
            </li>

            <!-- Empleado -->
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center gap-2" routerLink="/app/empleado" routerLinkActive="active">
                    <img src="img/empleado.png" width="25" height="25" />
                    Empleados
                </a>
            </li>

            <!-- Orden de Trabajo -->
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center gap-2" routerLink="/app/orden-trabajo" routerLinkActive="active">
                    <img src="img/orden.png" width="25" height="25" />
                    Orden de Trabajo
                </a>
            </li>

            <!-- Estado de Orden -->
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center gap-2" routerLink="/app/estado-orden" routerLinkActive="active">
                    <img src="img/checklist.png" width="25" height="25" />
                    Estado de Orden
                </a>
            </li>
        </ul>
    </div>
</div>
